.about{
    padding: 120px 0;
    width:100%;
    &__h4{
        font-size:30px;
        font-weight:600;
    }
    &__text p{
        color: #777;
        font-size:15px;
        font-weight:300;
        line-height:2;
    }
    &__section{
        background:#efefefef;
        padding:60px;
        text-align:center;
        @include responsive(765px){
            margin-bottom: 20px;
        }

        &-icon{
            color: $green;
            margin-bottom:10px ;
        }
        &-heading h6{
            font-size:18px;
            margin-bottom: 15px ;

        }
    }

}